.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: scroll;
    height: 92vh;
}

.container::-webkit-scrollbar {
    display: none;
}

.rig_data {
    width: 40vw;
    height: 48vh;
    background-color: beige;
    padding: 10px;
    border-radius: 22px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.upper_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.card {
    width: 150px;
    height:120px;
    border-radius: 22px;
    background-color: #F9EAC2;
    margin-right: 40px;
}

.innerCards_container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: 20px;
}

.pieChart {
    width: 26vw;
    height: 52vh;
    background-color: #F9EAC2;
    border-radius: 22px;
    margin-left: 20px;
    position: relative;
}

.bargraph {
    width: 69vw;
    height: 65vh;
    background-color: beige;
    padding: 0px 10px;
    border-radius: 22px;
    margin-bottom: 20px;
    margin-left: 20px;
}