.home_left {
    padding: 30px 30px;
    height: 92vh;
    width: 20vw;
    background-color: rgba(46, 86, 247, 0.649);
}

.home_right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 30%;
    top: 5%;
}

.home {
    padding: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.home > img {
    width: 24vw;
    height: 40vh;
    border-radius: 22px;
    transition: transform 450ms;
}

.home > img:hover {
    transform: scale(1.08);
}

.home > h1 {
    position: absolute;
    top: 25%;
    left: 12%;
    color: #fff;
    font-size: 35px;
}

